@import url(//at.alicdn.com/t/font_0j6ycruegu7q4cxr.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.current {
  width: 50%;
  height: 5em;
  line-height: 2.5em;
  margin: 0 auto;
  transform: translateY(2em);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 1em;
}

#theme[data-v-7187ca6d] {
  width: 100vw;
  height: 80vh;
  position: relative;
}

*[data-v-4a468d22] {
  box-sizing: border-box;
}
ul[data-v-4a468d22] {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.theme-container[data-v-4a468d22] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 20em;
}
.colors-container[data-v-4a468d22] {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}
.colors-container .color-block[data-v-4a468d22] {
    width: 50%;
    height: 50%;
    position: absolute;
    transform-origin: 100% 100%;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -50%;
    -webkit-tap-highlight-color: transparent;
}
.faux-border[data-v-4a468d22] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding: 5%;
  background: #fff;
}
.chosen-color[data-v-4a468d22] {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#circular-nav[data-v-4fa9d42b] {
  margin: auto;
}

*[data-v-8e0279a6] {
  box-sizing: border-box;
}
ul[data-v-8e0279a6] {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-wrapper[data-v-8e0279a6] {
  position: fixed;
  left: 50%;
  transition: all .3s ease;
  margin: auto;
  overflow: hidden;
  color: #fff;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 50%;
  z-index: 10;
}
.nav-tabbar[data-v-8e0279a6] {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}
.nav-tabbar .nav-item[data-v-8e0279a6] {
    width: 50%;
    height: 50%;
    position: absolute;
    transform-origin: 100% 100%;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -50%;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    border: 1px solid #fff;
    transition: border .3s ease;
}
.nav-tabbar .nav-item a[data-v-8e0279a6] {
      display: block;
      position: absolute;
      padding-top: 25%;
      text-decoration: none;
      color: #fff;
}
.nav-tabbar .nav-item a .nav-item-label[data-v-8e0279a6] {
        font-size: 0.8em;
}
.nav-tabbar .nav-item a .iconfont[data-v-8e0279a6] {
        display: block;
        font-size: 1.4em;
}
.nav-toggle[data-v-8e0279a6] {
  font-size: 1em;
  position: fixed;
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 3em;
  height: 3em;
  padding-top: 0.3em;
  border-radius: 50%;
  background-color: #fff;
  transition: all .3s ease;
  z-index: 11;
}
.nav-overlay[data-v-8e0279a6] {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  z-index: 2;
}
.nav-overlay.on-overlay[data-v-8e0279a6] {
    visibility: visible;
    opacity: 1;
}

/*# sourceMappingURL=app.e1ab7b538b32326204259c8063c742dc.css.map*/